<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Capcom Fight Pack</title>
<meta name=x-uirequest content=nohscroll>
<meta name=x-uirequest content=novscroll>
</head>
<body bgcolor="#000F2E" text="#FFFFFF" scroll="no" link="#00FFCC" vlink="#00FFCC" alink="#FFFF00">
<center>
<table border="0" cellpadding="2" cellspacing="0" width="96%">
  <tr>
    <td align="center">
      <font size="+3" color="#FFCC00" face="Arial, sans-serif"><b>CAPCOM FIGHT PACK</b></font><br>
      <font size="2" color="#00FFCC">Sega Dreamcast | 3-in-1 CD-R Edition (Multi-Game & Multi-Soundtrack)</font>
    </td>
  </tr>
</table>

<table border="2" bordercolor="#00FFCC" cellpadding="6" cellspacing="0" bgcolor="#001840" width="94%">
  <!-- GAME 1: Marvel vs Capcom 2 -->
  <tr>
    <td align="left" width="80%">
      <a href="x-avefront://---.dream/proc/launch/20"><font size="+1" color="#FFFF00"><b>1. Marvel vs. Capcom 2 (Nene Edition)</b></font></a><br>
      <font size="1" color="#AAAAAA">Custom Audio Tracks + Modded Palettes & Sprites</font><br>
      <a href="file:/dpwww/MVCMUSIC.HTML"><font size="2" color="#00FFCC"><b>[ 🎵 Elegir Banda Sonora (8 Soundtracks Disponibles) ]</b></font></a>
    </td>
    <td align="center" width="20%">
      <a href="x-avefront://---.dream/proc/launch/20"><font size="+2" color="#00FF88"><b>[ JUGAR ]</b></font></a>
    </td>
  </tr>

  <!-- GAME 2: Capcom vs SNK 2 -->
  <tr>
    <td align="left">
      <a href="x-avefront://---.dream/proc/launch/3"><font size="+1" color="#FFCC00"><b>2. Capcom vs. SNK 2 (English v1.2)</b></font></a><br>
      <font size="1" color="#AAAAAA">Millionaire Fighting 2001 | English Translation Patch</font><br>
      <a href="file:/dpwww/CVSMUSIC.HTML"><font size="2" color="#FF66CC"><b>[ 🎵 Elegir Banda Sonora (7 Soundtracks Disponibles) ]</b></font></a>
    </td>
    <td align="center">
      <a href="x-avefront://---.dream/proc/launch/3"><font size="+2" color="#00FF88"><b>[ JUGAR ]</b></font></a>
    </td>
  </tr>

  <!-- GAME 3: Super Street Fighter II X -->
  <tr>
    <td align="left">
      <a href="x-avefront://---.dream/proc/launch/5"><font size="+1" color="#FF9933"><b>3. Super Street Fighter II X (ST)</b></font></a><br>
      <font size="1" color="#AAAAAA">Grand Master Challenge | Arcade Perfect 60 FPS</font><br>
      <a href="file:/dpwww/STMUSIC.HTML"><font size="2" color="#FF9933"><b>[ 🎵 Elegir Banda Sonora (7 Soundtracks Disponibles) ]</b></font></a>
    </td>
    <td align="center">
      <a href="x-avefront://---.dream/proc/launch/5"><font size="+2" color="#00FF88"><b>[ JUGAR ]</b></font></a>
    </td>
  </tr>
</table>

<table border="0" cellpadding="4" cellspacing="0" width="94%">
  <tr>
    <td align="center">
      <font size="1" color="#7799BB">Antigravity Multi-Game & Cross-OST Engine | Auto-boot MIL-CD LBA 45000</font>
    </td>
  </tr>
</table>
</center>
</body>
</html>
