<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Capcom Fight Pack</title>
<meta name=x-uirequest content=nohscroll>
<meta name=x-uirequest content=novscroll>
</head>
<body bgcolor="#000F2E" text="#FFFFFF" scroll="no" link="#00FFCC" vlink="#00FFCC">
<center>
<br>
<table border="0" cellpadding="2" cellspacing="0" width="94%">
<tr><td align="center">
<font size="+3" color="#FFCC00" face="Arial, sans-serif"><b>CAPCOM FIGHT PACK</b></font><br>
<font size="2" color="#00FFCC">Sega Dreamcast | 3-in-1 CD-R Edition</font>
</td></tr>
</table>
<br><br>
<table border="2" bordercolor="#00FFCC" cellpadding="8" cellspacing="0" bgcolor="#001840" width="90%">
<tr>
<td align="left" width="85%"><a href="x-avefront://---.dream/proc/launch/20"><font size="+1" color="#FFFF00"><b>1. Marvel vs Capcom 2 (Nene)</b></font></a><br><font size="2" color="#AAAAAA">Custom Audio Tracks + Modded Sprites</font></td>
<td align="center" width="15%"><a href="x-avefront://---.dream/proc/launch/20"><font size="+3" color="#00FF88"><b>&gt;</b></font></a></td>
</tr>
<tr>
<td align="left"><a href="x-avefront://---.dream/proc/launch/3"><font size="+1" color="#FFCC00"><b>2. Capcom vs SNK 2 (English v1.2)</b></font></a><br><font size="2" color="#AAAAAA">Millionaire Fighting 2001 | English Translation</font></td>
<td align="center"><a href="x-avefront://---.dream/proc/launch/3"><font size="+3" color="#00FF88"><b>&gt;</b></font></a></td>
</tr>
<tr>
<td align="left"><a href="x-avefront://---.dream/proc/launch/5"><font size="+1" color="#FF9933"><b>3. Super Street Fighter II X (ST)</b></font></a><br><font size="2" color="#AAAAAA">Grand Master Challenge</font></td>
<td align="center"><a href="x-avefront://---.dream/proc/launch/5"><font size="+3" color="#00FF88"><b>&gt;</b></font></a></td>
</tr>
</table>
<br><br>
<font size="2" color="#7799BB">Antigravity Multi-Game Engine | Auto-boot MIL-CD</font>
</center>
</body>
</html>
