<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Hola Mundo Dreamcast</title>
<meta name=x-uirequest content=nohscroll>
<meta name=x-uirequest content=novscroll>
</head>
<body bgcolor="#000F2E" text="#FFFFFF" scroll="no" link="#00FFCC" vlink="#00FFCC">
<center>
<br><br>
<table border="0" cellpadding="4" cellspacing="0" width="90%">
<tr><td align="center">
<font size="+3" color="#FFCC00" face="Arial, sans-serif"><b>¡HOLA MUNDO DREAMCAST!</b></font><br><br>
<font size="+1" color="#FFFFFF">Browser Sega Dricas (1999) Funcionando al 100%</font><br>
<font size="2" color="#00FFCC">Motor Multidisco Autónomo en Python Puro</font>
</td></tr>
</table>
<br><br>
<font size="2" color="#7799BB">Antigravity Multi-Game Engine | Auto-boot MIL-CD LBA 45000</font>
</center>
</body>
</html>
