<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Super Puzzle Fighter II X</title>
<meta name=x-uirequest content=nohscroll>
<meta name=x-uirequest content=novscroll>
</head>
<body bgcolor="#000F2E" text="#FFFFFF" scroll="no" link="#00FFCC" vlink="#00FFCC">
<center>
<br>
<table border="0" cellpadding="2" cellspacing="0" width="94%">
<tr><td align="center">
<font size="+3" color="#FFCC00" face="Arial, sans-serif"><b>CAPCOM TEST DISC</b></font><br>
<font size="2" color="#00FFCC">Super Puzzle Fighter II X | Dreamcast</font>
</td></tr>
</table>
<br><br>
<table border="2" bordercolor="#00FFCC" cellpadding="8" cellspacing="0" bgcolor="#001840" width="85%">
<tr>
<td align="left" width="85%"><a href="x-avefront://---.dream/proc/launch/19"><font size="+1" color="#FFFF00"><b>1. Super Puzzle Fighter II X</b></font></a><br><font size="2" color="#AAAAAA">Capcom Arcade Puzzle Action</font></td>
<td align="center" width="15%"><a href="x-avefront://---.dream/proc/launch/19"><font size="+3" color="#00FF88"><b>&gt;</b></font></a></td>
</tr>
</table>
<br><br>
<font size="2" color="#7799BB">Antigravity Multi-Game Engine | Auto-boot MIL-CD</font>
</center>
</body>
</html>
