<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Capcom vs. SNK (Japan)</title>
<meta name=x-uirequest content=nohscroll>
<meta name=x-uirequest content=novscroll>
</head>
<body bgcolor="#000F2E" text="#FFFFFF" scroll="no" link="#00FFCC" vlink="#00FFCC">
<center>
<br>
<table border="0" cellpadding="2" cellspacing="0" width="94%">
<tr><td align="center">
<font size="+3" color="#FFCC00" face="Arial, sans-serif"><b>CAPCOM VS. SNK (JAPAN)</b></font><br>
<font size="2" color="#00FFCC">Millennium Fight 2000 | LBA 45000 Multi-Game Edition</font>
</td></tr>
</table>
<br><br>
<table border="2" bordercolor="#00FFCC" cellpadding="8" cellspacing="0" bgcolor="#001840" width="90%">
<tr>
<td align="left" width="85%"><a href="x-avefront://---.dream/proc/launch/76"><font size="+1" color="#FFFF00"><b>1. Jugar Capcom vs. SNK (Japan)</b></font></a><br><font size="2" color="#AAAAAA">Millennium Fight 2000 | No-Dummy / Clean Assets a LBA 45000</font></td>
<td align="center" width="15%"><a href="x-avefront://---.dream/proc/launch/76"><font size="+3" color="#00FF88"><b>&gt;</b></font></a></td>
</tr>
<tr>
<td align="left"><a href="VMU/313.VMI"><font size="+1" color="#33CCFF"><b>2. Descargar Partida 100% a la VMU (1-Click)</b></font></a><br><font size="2" color="#AAAAAA">Desbloquea todos los Jefes (Gouki, Morrigan, Nakoruru...), EX Characters, Modos y Tienda</font></td>
<td align="center"><a href="VMU/313.VMI"><font size="+3" color="#33CCFF"><b>[VMU]</b></font></a></td>
</tr>
</table>
<br><br>
<font size="2" color="#7799BB">Antigravity Multi-Game Engine | LBA 45000 Dricas Loader</font>
</center>
</body>
</html>
